@media (max-width: 991.98px) {
  .divider {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    height: 0px;
    width: 100px;
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }

  .nav-link {
    display: inline-block;
    width: 100px;
  }
}

@media (min-width: 992px) {
  .divider {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    height: 25px;
    width: 0px;
    margin-right: 1rem !important;
    margin-left: 1rem !important;
  }
}
