<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Todo</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico?33266dbd98">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
<link rel="stylesheet" href="assets/styles.268a3921f065f34c2cf3.css"></head>
<body>
  <app-root>Loading...</app-root>
<script type="text/javascript" src="assets/runtime.fb273928c747c8f66130.js"></script><script type="text/javascript" src="assets/polyfills.74493e21ba4b4070ff62.js"></script><script type="text/javascript" src="assets/main.a1fc665a0da5a7848363.js"></script></body>
</html>
