<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Todo</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico?33266dbd98">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
  <link rel="manifest" href="manifest.json">
  <meta name="theme-color" content="#373a3c">
<link rel="stylesheet" href="styles.349ab7ea759e1c7a3e22.css"></head>
<body>
  <app-root>Loading...</app-root>
<script type="text/javascript" src="runtime.53e84149d6e31bf1c882.js"></script><script type="text/javascript" src="polyfills.74493e21ba4b4070ff62.js"></script><script type="text/javascript" src="main.4417d21fdafe5da72873.js"></script></body>
</html>
