<div class="d-flex w-100 justify-content-between">
  <div class="col-10 pl-0">
    <h5>{{task.title}}</h5>
    <p class="mb-0 pb-0">
      <em>Start: {{task.startdate | date: 'dd.MM.y'}}</em>
      <em *ngIf="task.duedate" [class.text-danger]="task.duedate | inPast">| Due: {{task.duedate | date:'dd.MM.y'}}</em>
    </p>
    <div class="d-none d-md-block text-truncate">
      {{task.description}}
    </div>
  </div>
  <div class="d-flex align-items-center">
    <button type="button" class="btn btn-outline-dark align-items-center" dndHandle *ngIf="!isDone()">
      <i class="material-icons">drag_handle</i>
    </button>
  </div>
</div>
